[submodule "libraries/binary"]
	path = libraries/binary
	url = git@github.com:IaFP/binary.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libraries/bytestring"]
	path = libraries/bytestring
	url = git@github.com:IaFP/bytestring.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libraries/Cabal"]
	path = libraries/Cabal
	url = git@github.com:IaFP/Cabal.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libraries/containers"]
	path = libraries/containers
	url = git@github.com:IaFP/containers.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libraries/haskeline"]
	path = libraries/haskeline
	url = git@github.com:IaFP/haskeline.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libraries/pretty"]
	path = libraries/pretty
	url = git@github.com:IaFP/pretty.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libraries/terminfo"]
	path = libraries/terminfo
	url = git@github.com:IaFP/terminfo.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libraries/transformers"]
	path = libraries/transformers
	url = git@github.com:IaFP/transformers.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libraries/xhtml"]
	path = libraries/xhtml
	url = git@github.com:IaFP/xhtml.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libraries/Win32"]
	path = libraries/Win32
	url = https://gitlab.haskell.org/ghc/packages/Win32.git
	ignore = untracked
[submodule "libraries/time"]
	path = libraries/time
	url = git@github.com:IaFP/time.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libraries/array"]
	path = libraries/array
	url = git@github.com:IaFP/array.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libraries/deepseq"]
	path = libraries/deepseq
	url = git@github.com:IaFP/deepseq.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libraries/directory"]
	path = libraries/directory
	url = git@github.com:IaFP/directory.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libraries/filepath"]
	path = libraries/filepath
	url = git@github.com:IaFP/filepath.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libraries/hpc"]
	path = libraries/hpc
	url = git@github.com:IaFP/hpc.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libraries/parsec"]
	path = libraries/parsec
	url = git@github.com:IaFP/parsec.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libraries/text"]
	path = libraries/text
	url = git@github.com:IaFP/text.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libraries/mtl"]
	path = libraries/mtl
	url = git@github.com:IaFP/mtl.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libraries/process"]
	path = libraries/process
	url = https://gitlab.haskell.org/ghc/packages/process.git
	ignore = untracked
[submodule "libraries/unix"]
	path = libraries/unix
	url = https://gitlab.haskell.org/ghc/packages/unix.git
	ignore = untracked
	branch = 2.7
[submodule "libraries/stm"]
	path = libraries/stm
	url = git@github.com:IaFP/stm.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "utils/haddock"]
	path = utils/haddock
	url = git@github.com:IaFP/haddock.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "nofib"]
	path = nofib
	url = git@github.com:IaFP/nofib.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "utils/hsc2hs"]
	path = utils/hsc2hs
	url = git@github.com:IaFP/hsc2hs.git
	ignore = untracked
	branch = wip/party-ctrs
[submodule "libffi-tarballs"]
	path = libffi-tarballs
	url = https://gitlab.haskell.org/ghc/libffi-tarballs.git
	ignore = untracked
[submodule "gmp-tarballs"]
	path = libraries/integer-gmp/gmp/gmp-tarballs
	url = https://gitlab.haskell.org/ghc/gmp-tarballs.git
[submodule "libraries/exceptions"]
	path = libraries/exceptions
	url = git@github.com:IaFP/exceptions.git
	branch = wip/party-ctrs
